body
{
	min-width: 345px;
}

header
{
	height: 1.5em;
	padding: 30px 50px 25px 50px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

#title
{
	font-family: ﻿MyriadPro, sans-serif;
	font-size: 17pt;
	font-weight: bold;
	margin-right: 5px;
	color: rgba(0, 0, 0, 255);
}

#profile
{
	font-family: ﻿OpenSans, sans-serif;
	font-weight: 800;
	font-size: 12pt;
	margin: 0;
	color: rgba(122, 122, 122, 255);
}

#profile:visited,
#profile:link,
#profile:active
{
	text-decoration: none;
}

footer {
	height: 0.5em;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

footer>div
{	
	font-family: ﻿OpenSans, sans-serif;
	font-weight: 400;
	font-size: 15pt;
}
